body {

  background-color: #222;
  text-align: left;

}

.navbar-default {
    background-color: transparent;
    padding: px 0;
    border: 0;
}

.jumbotron {
  padding-top: 90px;
  min-height: 600px;
  margin-bottom: 0;
  background-image: url("music-producer.jpg");
  background-size: cover;
  background-attachment: fixed;
}


img {
    border-radius:50%;
    height: 200px;
    width: 200px;

}

#artists-section {
  text-align: center;
  background-color: #222;
  display: block;
  font-family: 'rock salt';
  font-color:white;
}

#title {
  font-family: 'Rock Salt';
}
#location {
  font-family: 'Rock Salt';
}
